<div class="m">
    <div class="top">
       <ul>
           <li> <img src="../../assets/images/icon.png" alt="icon"/> <h5>Firebase</h5></li>
           <li><span><i class="fa fa-home" aria-hidden="true"></i></span> Project overview <span><i class="fa fa-cog" aria-hidden="true"></i></span></li>
           <li>Develop <span></span>
            <p>Auotontication,Database,Storage</p>
           </li>
           <li>Quality
               <p>Crashlytic,Perfomance,Testlab</p>
           </li>
           <li>Analytics <p>Dashbord,Events,conservation,Au</p></li>
           <li>Grow
            <p>Prediction,A/B testing,Could</p>
           </li>
           
       </ul>
    </div>
    <div class="bottm">
        <ul>
            <li>Extension</li>
            <li>
                spark <p>free $/0 month</p>
            </li>
            <li><span><i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span></li>
        </ul>
    </div>


</div>
