.m{
    color: white;
}
img{
    width:32px;
}
h5{
    display: inline-block;
}
ul{
    list-style: none;
}
li{
    padding:8px;
    border-bottom: 1px solid gray;
}
p{
font-size: 12px;
}
.bottm{
    margin-top:55px;
}
.fa-cog{
    border-left: 1px solid gray;
    padding-left: 4px;

}
fa-home{
    display: inline-block;
    color:#1a73e8;
}
.fa-chevron-left{
   margin-left: 90%; 
}