.left{
    width:15%;
    background:#0d253a;
    float: left;
    position: absolute;
    height: 600px;
}
.right{
    
    height: 600px;
    background: #2377e5;
    background-image:url("../../assets/images/bg.png");
    float: left;
    position: absolute;
    width: 85%;
    right: 0;
    bottom: 0;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.rightData{
    float:left;
    font-weight: bolder;
    z-index: 1;
}
a{
    text-decoration: none!important;
}