a{
    color: azure;
    font-weight: bold;
}
.lef{
    float: left;
    margin-left: 10px;
}
.rig{
    float: right;
}
ul{
    display: block;
    margin-right: 20px;
}
li{
    margin-left: 9px;
    list-style: none;
    float: left;
}
